# Ignore files ending with .log
*.log

# Ignore directories named "temp"
/temp/

# Ignore all files in the "build" directory
/build/*

# Ignore a specific file
env

# Ignore the torch models
/openpose_models/*

# Ignore the todo file
todo.txt

#Ignore the files related to local environment
/mart_basic/*
/earlier_torch/*
/.ipynb_checkpoints/*

# Ignore pycache
/__pycache__/*


basic_requirements.txt
basic-poseart.pem
earlier_torch.txt
env_compare.py
filtered_requirements.txt
official_pic.jpeg
requirements.txt
visualize_keypoints.ipynb
wsgi.py
/test_images/

*.sh