@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    font-family: poppins, arial;
    font-size: 14px;
    color: #191a14;  
}
html { 
    background: url('../images/background/background1.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

p{
    font-size: 2.9vw;
}

body {
    margin:2em;
    font-weight:bold;
    line-height: 1.5;
    text-align: center;
}

.parent{
    display:grid;
    place-content: center;
    justify-content: space-evenly;
    height: 100%;
}

.nav-container{
    display:flex;
    font-size: 15px;
    align-items: center;
    justify-content: flex-end;
}

.nav-container > div{
    margin-right:2rem;
}

.nav-container > div > a{
    text-decoration: None;
}

.nav-container > .logo {
    margin-right:auto;
}

.nav-container > .logo > a {
    color: #882626;
    font-size: 23px;
    font-weight: 400;
}

.timer {
    justify-content: center;
}

div.timer input.small{
    width: 2em;
}

.submit{ 
    background-color: #97b42d; border-radius: 8px; border-width: 0; color: #333333; cursor: pointer; display: inline-block; font-weight: 500; line-height: 20px; list-style: none; margin: 0; padding: 5px 6px; text-align: center; transition: all 200ms; vertical-align: baseline; white-space: nowrap; user-select: none; -webkit-user-select: none; touch-action: manipulation; 
}

.camera{
    height: 60vh;
    width: 90vh;
}

.upload-video  {
    padding: 2rem;
    font-size: 8px;
}

.Camera-preview > div {
    padding: 2em;
}



   
