@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    font-family: poppins, arial;
    font-size: 15px;
    color: #191a14;
}
html { 
    background: url('../images/background/background1.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin:2em;
    line-height: 1.5;
    text-align: center;
    height: 90vh;
}

.cam-instruction  p {
    font-size: 14px;
    text-align: center;
    
}
.timer {
    display: inline;
}

.nav-container{
    display:flex;
    font-weight: medium;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    font-size: 16px;
}

.nav-container > div > a{
    text-decoration: None;
}
.nav-container > .logo {
    margin-right: auto;    
}

.logo > a {
    color: #b63232;
    font-size: 23px;
    font-weight: 400;
}
/*

*/
.timer-form {
    display: flex;
    justify-items: space-evenly;
    align-items: center;
    padding: 0 1%;
}

.timer-form > * {
    flex: 3; 
    margin: 0 1%;
}

.timer-form > .small-field {
    flex: 1;
}

.small-field{
    width: 10%;
    align-self: center;
    height: 50%;
}

.timer-form > label > p {
    font-size: 13px;
}
.submit, #bigger-button{ 
    background-color: #97b42d; border-radius: 8px; border-width: 0; color: #333333; cursor: pointer; display: inline-block; font-weight: 500; line-height: 20px; list-style: none; margin: 0; padding: 5px 6px; text-align: center; transition: all 200ms; vertical-align: baseline; white-space: nowrap; user-select: none; -webkit-user-select: none; touch-action: manipulation; 
}

#bigger-button {
    margin: 1em;
}

#preview {
    position: relative;
    width: 100%;
    height: 100%;
}

.camera {
    position: relative;
}

.camera video {
    position: relative;
    z-index: 0;
}

#recording-text {
    position: absolute;
    top: 50%;
    left: 40%;
    z.index: 1;
    background-color: grey;
    color: white;
    
}


.div-button{
    margin-top: 2em;
    border: 2px solid white;
    background: rgb(150, 162, 177);
    border-radius:20% 20% 20% 20% / 70px;
    padding: 1px;
    font-size: 14px;
    text-align: center;
}
#timer-button {
    border-radius:40% 40% 40% 40% / 50px;
    padding: 4px;
    text-align: center;
    border: 2px solid white;
    background: rgb(150, 162, 177);
}







