@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --standard-font-size: 15vw; 
    font-family: 'Poppins', sans-serif;
    color: #191a14;
}

html { 
    background: url('../images/background/background1.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    font-size: clamp(7px, var(--standard-font-size), 18px);
}

/* Add this style for the processed canvas to be 70% of the screen width 
#processedCanvas {
    width: 70vw;
    height: auto;
    max-width: 100%;
}
*/

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.nav-container {
    display: flex;
    font-weight: medium;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;
}

.nav-container .logo a {
    color: #b63232;
    font-size: 23px;
    font-weight: 400;
    text-decoration: none;
}

.nav-container .non-logo a {
    color: #191a14;
    font-size: 16px;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    margin-top: 1em;
}

#video {
    display: block;
    width: 70%;
    margin: 1em auto; 
}

#canvas {
    display: none;
    width: 70%;
    margin: 1em auto;
    box-sizing: border-box;
}

#processedCanvas {
    box-sizing: border-box;
    display: block;
    width: 70%;
    margin: 1em auto; /* Center the processed canvas horizontally */
}

#rec-button {
    width: 35px;
    height: 35px;
    font-size: 12px;
    background-color: red;
    border: 0;
    border-radius: 35px;
    margin: 18px;
    outline: none;
}

.notRec {
    background-color: darkred;
}

.Rec {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 5px 0px rgba(173, 0, 0, .3);
    }
    65% {
        box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, .3);
    }
    90% {
        box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0);
    }
}
